<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hyderabad</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="logo"><span class="first-letter">H</span><span>yderabad</span></div>
        <nav class="navbar">
            <div class="menu">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Login</a>
            </div>
        </nav>
    </header>
    <section class="home">
        <div class="image-container">
            <img src="Pics/golkondaFort.jpeg" alt="img">
            <img src="Pics/leoniaResort.jpg" alt="img2">
            <img src="Pics/forumMall.jpg" alt="img3">
            <img src="Pics/marriott.jpg" alt="img4">
        </div>

        <div class="controls">
            <span id="btn1" class="active"></span>
            <span id="btn2"></span>
            <span id="btn3"></span>
            <span id="btn4"></span>
        </div>

        <div class="content">
            <h3>Welcome to Hyderabad</h3>
            <p>Discover new places with us!</p>
        </div>
    </section>

    <section class="locations">
        <h1 class="heading">
            <span>C</span>
            <span>A</span>
            <span>T</span>
            <span>E</span>
            <span>G</span>
            <span>O</span>
            <span>R</span>
            <span>I</span>
            <span>E</span>
            <span>S</span>
        </h1>

        <div class="box-container">
            <a href="resorts.html">
                <div class="box">
                    <img src="Pics/resorts.jpg" alt="lr">
                    <div class="content">
                        <h3>Resorts</h3>
                    </div>
                </div>
            </a>

            <a href="restaurants.html">
                <div class="box">
                    <img src="Pics/restaurants.jpg" alt="lr">
                    <div class="content">
                        <h3>Restaurants</h3>
                    </div>
                </div>
            </a>

            <a href="malls.html">
                <div class="box">
                    <img src="Pics/malls.jpg" alt="lr">
                    <div class="content">
                        <h3>Malls</h3>
                    </div>
                </div>
            </a>

            <a href="historicalPlaces.html">
                <div class="box">
                    <img src="Pics/historicalPlaces.jpg" alt="lr">
                    <div class="content">
                        <h3>Historical Places</h3>
                    </div>
                </div>
            </a>

            <a href="amuzementParks.html">
                <div class="box">
                    <img src="Pics/amuzementParks.jpg" alt="lr">
                    <div class="content">
                        <h3>Amuzement Parks</h3>
                    </div>
                </div>
            </a>

            <a href="amuzementParks.html">
                <div class="box">
                    <img src="Pics/amuzementParks.jpg" alt="lr">
                    <div class="content">
                        <h3>Amuzement Parks</h3>
                    </div>
                </div>
            </a>

        </div>


    </section>

    <script src="script.js"></script>
</body>
</html>